.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  text-align: center;
  color: yellowgreen;

  opacity: 0.7;
}

/* ######################################## */

#app-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  width: 100vw;
}

.header-section {
  height: 10vh;
  width: 40vw;
  margin: 1vmin;
  background-color: orange;
} 

.hsr{
  width: 15vw;
}

/* ######################################## */

#main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  






  height: 85vh;
  width: 100vw;

  display:flex;
  background-color: blueviolet;
}

#chessboard-container{
  height: 95%;
  width: 95%;
  background: linear-gradient(to bottom right, blue, red, green, orange, brown);
}


.player-box{

  height: 50px;
  width: 200px;


  border-width: 50%;
  border-style: double;
  border-color: red;
  background-color: white;
} 

.pb1{
  background-color: black;
}

.pb2{
  
}

td{
  height: 9vmin;
  width: 9vmin;

  border-style: solid;

  border-color: black;
}

.black-sq {
  background-image: linear-gradient(#333333, #666666, #333333);
}

.white-sq {
  background-image: linear-gradient(#aaaaaa, #eeeeee, #aaaaaa);
}