body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #81c9d4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fruit {
  display: flex;
  padding: 30px;
  ;
}


.game {
  width: 560px;   
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}
 /* using the 560 because its nicely divided by 8 which is then used for the image being 70 */
.game img {
  width: 70px;
  height: 70px;
}